@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body {
    background-color: wheat;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

#hero-image { 
    background: url(../css/images/IMAGE\ 2022-04-28\ 15:39:15.jpg) no-repeat center center; 
    width: 100%;
    height: 650px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    font-family: Ramaraja, sans-serif;
    font-weight: 400;
    color: black;
    text-shadow: -2px 1px wheat;
}
#logo {
    font-size: 600%;
    float: left;
    line-height: 190px;
    margin-left: 115px;
    width: 20%;
    text-align: center;
}

#menu {
    font-size: 220%;
    float: right;
    line-height: 75px;
 }

#menu li {
     list-style-type: none;
     margin-right: 30px;
     float: left;
}

#menu a { 
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255,210,210);
}

#menu a:hover {
    color: black;
    transition: color .3s ease-in-out;
  }

.isactive {
    color: black !important;
    text-shadow: -1.5px 1.5px wheat;
    
}


