@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* FOR HOME PAGE AND MENU */

#hero-image { 
    background: linear-gradient(to bottom, rgba(117, 19, 93, 0.8), rgba(245, 246, 252, 0.3)), url(../css/images/geowulf-main-image.jpg) no-repeat center center;
    width: 100%;
    height: 39rem;
    background-size: cover;
}
body {
    background-color: wheat;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}
.menu-forward {
    position: relative;
    float: right;
    z-index: 2;
}
h1 {
    font-family: Ramaraja, sans-serif;
    font-weight: 400;
    color: black;
    text-shadow: -2px 1px wheat;
}
#logo {
    font-size: 800%;
    float: left;
    line-height: 12rem;
    margin-left: 5rem;
    width: 20%;
    text-align: center;
    position: relative;
    z-index: 2;
}
#menu {
    font-size: 220%;
    float: right;
    line-height: 4.7rem;
}
#menu li {
     list-style-type: none;
     margin-right: 1.9rem; /* previously 30px */
     float: left;
}
#menu a { 
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255,210,210);
}

#menu a:hover {
    color: black;
    transition: color .3s ease-in-out;
  }

.isactive {
    color: black !important;
    text-shadow: -1.5px 1.5px wheat;  
}
.videos {
    text-align: center;
}
#video1 {
    background-color: rgb(255,210,210);
}
#video2 {
    background-color: rgba(117, 19, 93, 0.73);
}
.left-text {
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    text-shadow: -2px 1px rgba(117, 19, 93, 0.73);
    padding-top: 3.3rem;
    font-size: 3.2rem;
    font-family: "Bebas Neue", sans-serif;
}
.vid {  
    position: relative;
    text-align: center;
    width: 70%;
    height: 400px;
}
#news-section {
    position: relative;
    width: 100%;
    max-height: 6.25rem;
    font-family: "Bebas Neue", sans-serif;
    color: black;
    text-align: center;
    text-shadow: -2px 1px wheat;
}
#news1, #news2, #news3 { 
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    border-right: 2px solid black;
    float: left;
    width: 33%;
    height: 15rem;
    background: wheat;
    color: black;
    padding-bottom: 4rem;
}
#news1 {
    border-left: 2px solid black;
}

#news-section h3 {
    padding-top: 0.625rem;
}

#news-title {
    color: black;
    background: wheat;

    font-size: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
#news3-pic {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}
.link-align {
    position: relative;
    width: 60%;
    margin: auto;
}
#a { position: relative; float: left;}
#b { position: relative; float: right;}

.link-text:hover {
    font-size: larger;
    transition: .3s;
}

.link-text {
    text-decoration: none;
    color: black;
}

/* FOR FOOTER */

footer {
    clear: both;
    background: wheat;
    position: relative;
    height: 200px;
    text-shadow: -2px 1px rgba(117, 19, 93, 0.73);
}
.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* FOR MUSIC PAGE */

#music-body {
    background: linear-gradient(to bottom, rgba(117, 19, 93, 0.7), rgba(245, 246, 252, 0.75)), url(images/desert-landscape.jpg) no-repeat center center;
    background-size: cover;
    height: 190vh;
}
.new-releases {
    padding-top: 6rem;
    width: 100%;
    height: 18.75rem;
    text-align: center;
}
.singles {
    padding-top: 3rem;
    width: 100%;
    height: 18.75rem;
    text-align: center;
}
.albums {
    padding-top: 8rem;
    width: 100%;
    height: 18.75rem;
    text-align: center;
}
#logo-music {
    font-size: 6.25rem;
    font-family: "Ramaraja", sans-serif;
    position: relative;
    float: left;
    left: 12.5%;
}
.plaque {
    display: inline-block;
    padding: 0 1.25rem;
    border-radius: 12px;
    height: 250px;
}
.music-headers {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.563rem;
    padding: 0.625rem;
    text-shadow: -2px 1px wheat;
}
.new-releases hr {
    color: black;
    width: 68.75rem;
    height: 3px;
    margin: 0 auto;
    border: 0;
    background:rgb(0, 0, 0);
}
.singles hr {
    color: black;
    width: 68.75rem;
    height: 3px;
    margin: 0 auto;
    border: 0;
    background:rgb(0, 0, 0);
}
.albums hr {
    color: black;
    width: 68.75rem;
    height: 3px;
    margin: 0 auto;
    border: 0;
    background:rgb(0, 0, 0);
}
hr {
    color: black;
    width: 68.75rem;
    height: 3px;
    margin: 0 auto;
    border: 0;
    background:rgb(0, 0, 0);
}
#top-line {
   position: relative;
   margin: 1.25rem;
}

#first-and-third-plaque {
    width: 20%;
}
#second-plaque {
    width: 30%;
}
/* FOR NEWSLETTER PAGE */

#newsletter-background {
    background: linear-gradient(to bottom, rgba(117, 19, 93, 0.73), rgba(245, 246, 252, 0.52)), url(images/geowulf-newsletter-image.jpeg);
    background-size: cover;
}
.form-section{
    background: white;
    margin: 0 auto;
    max-width: 20.625rem;
    height: 90vh;
    padding: 3.125rem 1.875rem;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Special Elite", sans-serif;
}
.form-section label {
    text-decoration: underline;
}
.form-section h1 {
    font-family: "Special Elite", sans-serif;
    font-size: 160%;
    text-shadow: none;
    text-align: center;
}
.form-section hr {
    color: black;
    width: 70px;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background:rgb(0, 0, 0);
}
.form-section p {
    font-family: "Special Elite", sans-serif;
    text-align: center;
    font-size: 120%;
    line-height: 1.5rem;
}
.form-section input {
    font-family: "Special Elite", sans-serif;
    border-radius: 3px;
    width: 100%;
    height: 1.563rem;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 100%;
    padding: 0 1.25rem;
    outline: none;
    margin-bottom: 1.875rem;
}
#submit-btn {
    -webkit-appearance: none;
    border: 1px;
    border-radius: 5px;
    height: 3.125rem;
    background-color: rgb(255,210,210);
    cursor: pointer;
} 
#submit-btn:hover { font-size: 125%;}
@media screen and (max-width: 480px) {
    /* HOMEPAGE FOR MOBILE */
    #hero-image { 
        min-width: 100%;
        height: 40.625rem;

        background-size: cover;
        animation: none;
        transform: scale(1, 1);
    }

    #logo {
        font-size: 3.125rem;
        float: left;
        line-height: 5rem;
        margin-left: 5%;
        width: 20%;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    #menu {
        font-size: 200%;
        
        line-height: 4.688rem;
    }


    #vid {  
        padding-top: 1%;
        position: relative;
        text-align: center;
        width: 70%;
        height: 12.5rem;
    }
   
    .left-text {
        position: relative;
        width: 10%;
        float: left;
        text-align: center;
        text-shadow: -2px 1px rgb(167, 208, 255);
        padding-top: 20px;
        font-size: 25px;
        font-family: "Bebas Neue";
        line-height: normal !important;
    }    

    #news1, #news2, #news3 {
        border-bottom: 2px solid black;
        border-left: none;
        border-right: none;
        float: left;
        width: 100%;
        height: 275px;
    }

    .link-align {
        position: relative;
        width: 80%;
        margin: auto;
    }
    /* END HOMEPAGE MOBILE */

    /* MUSIC PAGE MOBILE */
    #music-body {
    height: 265vh !important;
    }
    .new-releases {
        padding-top: 2.5rem;
        width: 100%;
        height: 18.75rem;
        text-align: center;
    }
    .singles {
        padding-top: 9rem;
        width: 100%;
        height: 18.75rem;
        text-align: center;
    }
    
    .albums {
        padding-top: 12.625rem;
        width: 100%;
        height: 37.5rem;
        text-align: center;
    }

    #logo-music {
        font-size: 3.125rem;
        font-family: "ramaraja";
        position: relative;
        float: left;
    }
    .albums > .plaque {
        width: 80% !important;
        height: 18.75rem;
        padding: 0 1.25rem;
        border-radius: 12px;
    }
    .plaque {
        margin-top: 20px;
        width: 80% !important;
        height: 75px;
        padding: 0 1.25rem;
        border-radius: 12px;
    }

    .music-headers {
        font-family: "Bebas Neue";
        font-size: 1.563rem;
        padding: 0.625rem;
        text-shadow: -2px 1px wheat;
    }

    .new-releases hr {
        width: 90%;
    }

    .singles hr {
        width: 90%;
    }

    .albums hr {
        width: 90%;
    }

    hr {
        width: 90%;
    }
    footer {
        padding-top: 30%;
    }
    /* END MUSIC PAGE MOBILE */

    /* NEWSLETTER PAGE MOBILE */
    .form-section { 
        position: relative;
        top: 100px;
        
        height: 120vh;
    }
    /* END NEWSLETTER PAGE MOBILE */
  
}











@media screen and (min-width: 481px) and (max-width: 850px) {
        /* HOMEPAGE FOR TABLET */
        #hero-image { 
            min-width: 100%;
            height: 40.625rem;
    
            background-size: cover;
            animation: none;
            transform: scale(1, 1);
        }
    
        #logo {
            font-size: 3.125rem;
            float: left;
            line-height: 5rem;
            margin-left: 5%;
            width: 20%;
            text-align: center;
            position: relative;
            z-index: 2;
        }
    
        #menu {
            font-size: 250%;
            line-height: 4.688rem;
        }
        #vid {  
            padding-top: 1%;
            position: relative;
            text-align: center;
            width: 70%;
            height: 12.5rem;
        }
        .left-text {
            position: relative;
            width: 10%;
            float: left;
            text-align: center;
            text-shadow: -2px 1px rgb(167, 208, 255);
            padding-top: 20px;
            font-size: 25px;
            font-family: "Bebas Neue";
            line-height: normal !important;
        }    
    
        #news1, #news2, #news3 { 
            border-bottom: 2px solid black;
            border-left: none;
            border-right: none;
            float: left;
            width: 100%;
            height: 250px;
            }
        #news1 {
            border-top: 2px solid black;
        }
    .link-align {
            position: relative;
            width: 80%;
            margin: auto;
        }
        /* END HOMEPAGE TABLET */
    
        /* MUSIC PAGE TABLET */
        #music-body {
         height: 180vh !important;
        } 
        .new-releases {
            padding-top: 2.5rem;
            width: 100%;
            height: 18.75rem;
            text-align: center;
        }
        .singles {
            padding-top: 9rem;
            width: 100%;
            height: 18.75rem;
            text-align: center;
        }
        
        .albums {
            padding-top: 10.625rem;
            width: 100%;
            height: 37.5rem;
            text-align: center;
        }
    
        #logo-music {
            font-size: 3.125rem;
            font-family: "ramaraja";
            position: relative;
            float: left;
        }
        .albums > .plaque {
            width: 80% !important;
            height: 18.75rem;
            padding: 0 1.25rem;
            border-radius: 12px;
        }
        .plaque {
            margin-top: 20px;
            width: 80% !important;
            height: 75px;
            padding: 0 1.25rem;
            border-radius: 12px;
        }
    
        .music-headers {
            font-family: "Bebas Neue";
            font-size: 1.563rem;
            padding: 0.625rem;
            text-shadow: -2px 1px wheat;
        }
    
        .new-releases hr {
            width: 90%;
        }
    
        .singles hr {
            width: 90%;
        }
    
        .albums hr {
            width: 90%;
        }
    
        hr {
            width: 90%;
        }
        footer {
            padding-top: 14%;
        }
        /* END MUSIC PAGE TABLET */
    
        /* NEWSLETTER PAGE TABLET */
        .form-section { 
            text-align: center;
            position: relative;
            top: 80px;
            font-size: 160%;
            height: 85vh;
        }
        .form-section h1 {
            text-align: center;
        }
        #fname, #lname, #email {
            height: 35px;
        }
    }
        /* END NEWSLETTER PAGE TABLET */